.App {
  text-align: center;
  background-color: #cfcbcb;
  color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 100%;
}

.App-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }

  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
