.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #444;
    color: white;
    box-sizing: border-box;

  }
  .header-title{
    margin-right: 20px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    /* width: 300px; Make the search bar longer */
    margin-right: 10px; /* Space between search input and button */
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px; /* Space between search button and now playing button */
  }
  
  .search-button:hover {
    background-color: #ff4b4b;
  }
  
  .now-playing-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Different color for differentiation */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .now-playing-button:hover {
    background-color: #45a049;
  }
  