.MovieCard {
    background-color: #2c2c2c; /* Dark card background */
    color: #f5f5f5; /* Light text for contrast */
    justify-content: center;
    justify-self: center;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 500px; /* Add a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .MovieCard:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .MovieCard img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .MovieCard .title {
    font-size: 1.05rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .MovieCard .description {
    font-size: 1rem;
    margin-top: 10px;
    color: #ccc; /* Slightly lighter text for description */
  }
  .like-button.liked {
    color: red;
    /* other styles */
  }
  @media (max-width: 600px) {
    .MovieCard {
      padding: 15px;
      max-width: 100%; /* Allow full width on small screens */
    }
    .MovieCard .title {
      font-size: 1.2rem;
    }
  
    .MovieCard .description {
      font-size: 0.9rem;
    }
  }